body {
  margin: auto;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

main {
  margin: 20px;
  padding-bottom: 20px;
}

/* Hero pradžia */
.hero-row {
  align-items: center;
  position: absolute;
  max-width: 272px;
}

.hero-pic {
  width: 19%;
  max-width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

div.hero-pic img {
  width: 420px;
}

section.nft.hero-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

section.nft.hero-container p {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ff3998;
}

section.nft.hero-container h1 {
  margin-top: 20px;
  font-weight: 900;
  font-size: 42px;
  color: black;
}

.textarea1 {
  width: 250px;
  height: auto;
}

section.nft.hero-container h6 {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #777777;
}

a.button-h {
  border: 4px solid #ff8139;
  padding: 1em 2em;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
/* Hero pabaiga */
/* Free pradžia */
.free-row {
  position: relative;
  text-align: center;
  overflow-x: hidden;
}

.free-row img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  object-position: center;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.free-row p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.free-row h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  margin: 0;
}
/* Free pabaiga */
/* Logotipai */
#c-logo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
  padding-top: 45px;
}

#c-logo img {
  max-width: 150px;
  padding: 10px;
}

.qq {
  display: none;
}
/* Logotipų pabaiga */
/* Auction pradžia */
.auction {
  padding-top: 30px;
}

.auction h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
}

.auction .cards {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  overflow-x: hidden;
}

div > .card-1,
.card-2,
.card-3,
.card-4 {
  width: 290px;
  height: 400px;
  background: #eeeeee;
  border-radius: 16px;
}

.prise-container {
  display: grid;
  grid-template-columns: 1.5fr 0.3fr 1.2fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas:
    "nseries eth nbid"
    "nname eth nprise"
    "ncode eth nday";
  width: 290px;
  max-height: 100px;
}

.eth {
  justify-self: center;
  align-self: center;
  grid-area: eth;
}

.eth img {
  margin-top: 20px;
}

.nseries {
  justify-self: start;
  align-self: center;
  grid-area: nseries;
}

.nseries p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ff8139;
  padding: 15px 0 0 15px;
}

.nname {
  justify-self: start;
  align-self: center;
  grid-area: nname;
}

.nname p {
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #000000;
  padding: 15px 0 0 15px;
}

.ncode {
  justify-self: start;
  align-self: center;
  grid-area: ncode;
}

.ncode p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #777777;
  padding: 15px 0 0 15px;
}

.nbid {
  justify-self: end;
  align-self: center;
  grid-area: nbid;
}

.nbid p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-align: right;
  text-transform: uppercase;
  color: #777777;
  padding: 15px 15px 0 0;
}

.nprise {
  justify-self: end;
  align-self: center;
  grid-area: nprise;
}

.nprise p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #000000;
  padding: 15px 15px 0 0;
}

.nday {
  justify-self: end;
  align-self: center;
  grid-area: nday;
}

.nday p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-align: right;
  text-transform: uppercase;
  color: #777777;
  padding: 15px 15px 0 0;
}

.prise-container p {
  margin: 0;
}
/* Auction pabaiga */
/* Green girl pradžia */
.green-girl {
  margin-top: 100px;
  padding-top: 100px;
  display: flex;
  border: #eeeeee;
  border-style: solid;
  border-width: 2px 0;
  margin-bottom: 100px;
  overflow-x: hidden;
}

.green-row {
  min-width: 253px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 80px;
}

.green-pic {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  margin-left: -15%; /*eksperimentinis*/
}

.green-pic img {
  max-width: auto;
  max-height: 100%;
}

div.green-row p {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ff3998;
}

div.green-row h1 {
  margin-top: 20px;
  font-weight: 900;
  font-size: 48px;
  color: black;
}

hr {
  width: 100%;
  display: inline-block;
  border-top: 0px solid #eeeeee;
  width: 100vw;
}

.textarea {
  width: 185px;
  height: auto;
}

div.green-row h6 {
  margin-top: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
}
/* Green girl pabaiga */
.layout-footer {
  width: 100%;

  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.grow1 {
  flex-grow: 1;
}

.grow-flex {
  display: flex;
  text-align: left;
  text-decoration: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
}

a:link {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #555555;
}

.fa-brands {
  color: #555555;
  letter-spacing: 1em;
}

.about-links,
.nft-links,
.contacts-links,
.social-links {
  min-width: 50%;
  margin-top: 25px;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p.boco,
.bolo {
  color: #777777;
}
/* Mobiliojoje versijoje nereikalinga */
.bolo {
  display: none;
}

@media screen and (min-width: 428px) {
  main {
    margin: 3%;
    padding-bottom: 20px;
  }
  /* Hero pradžia */
  a.button-h {
    border: 0.5vw solid #ff8139;
    padding: 1em 2em;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
  }

  a:link {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5vw;
    line-height: 19px;
    text-decoration: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #555555;
  }

  .hero-row {
    align-items: center;
    position: absolute;
    max-width: 40%;
  }

  .hero-pic {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 0;
  }

  div.hero-pic img {
    width: 90vh;
  }

  section.nft.hero-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
  }

  section.nft.hero-container h1 {
    margin-top: 20px;
    font-weight: 900;
    font-size: 6vw;
    color: black;
  }

  section.nft.hero-container p {
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ff3998;
    font-size: 1.5vw;
  }
  
  section.nft.hero-container h6 {
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    line-height: 150%;
    color: #777777;
  }
  /* Hero pabaiga */
  div > .card-1 {
    width: 25%;
    height: 400px;
    background: #eeeeee;
    border-radius: 16px;
  }
  div > .card-2 {
    width: 25%;
    height: 400px;
    background: #eeeeee;
    border-radius: 16px;
  }
  div > .card-3 {
    width: 25%;
    height: 400px;
    background: #eeeeee;
    border-radius: 16px;
  }
  div > .card-4 {
    width: 25%;
    height: 400px;
    background: #eeeeee;
    border-radius: 16px;
  }

  div .card-1 img {
    width: 100%;
    height: 400px;
    background: #eeeeee;
    border-radius: 16px;
  }

  div .card-2 img {
    width: 100%;
    height: 400px;
    background: #eeeeee;
    border-radius: 16px;
  }
  
  div .card-3 img {
    width: 100%;
    height: 400px;
    background: #eeeeee;
    border-radius: 16px;
  }
  div .card-4 img {
    width: 100%;
    height: 400px;
    background: #eeeeee;
    border-radius: 16px;
  }
  /* Rodyti visus logotipus */
  .qq {
    display: block;
  }

  #c-logo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    padding-top: 90px;
  }

  #c-logo img {
    min-width: 20%;
    padding: 2%;
  }
  /* Pastačiau merginą į vietą */
  .green-girl {
    justify-content: space-between;
  }

  div.green-row p {
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ff3998;
    font-size: 1.5vw;
  }
  
  div.green-row h1 {
    margin-top: 20px;
    font-weight: 900;
    font-size: 6vw;
    color: black;
  }

  div.green-row h6 {
    margin-top: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    line-height: 130%;
  }
  /* Panaikina liniją per vidurį */
  hr {
    visibility: hidden;
  }
  /* Panaikina ribojimus tekstui išsiplėsti */
  .textarea {
    width: auto;
    height: auto;
  }

  .textarea1 {
    width: auto;
    height: auto;
  }

  .green-row {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 80px;
  }
  /* Atitraukiau nuo dešinio krašto */
  .green-pic {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    margin-right: 20%;
    width: 20%;
  }

  .free-row {
    position: relative;
    text-align: center;
    overflow-x: hidden;
  }

  .free-row img {
    width: 100%;
    height: auto;
    background-size: cover
  }

  .free-row p {
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    text-align: left;
  }
  
  .free-row h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 4.5vw;
    text-align: left;
  }

  .column {
    width: 50%;
  }

  .about-links,
  .nft-links,
  .contacts-links,
  .social-links {
    min-width: 25%;
  }

  div.grow1.grow-flex {
    font-size: 1.5vw;
  }

  a:link {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5vw;
    line-height: 19px;
    text-decoration: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #555555;
  }
  
  .fa-brands {
    color: #555555;
    letter-spacing: 1em;
    font-size: 1.5vw;
  }

  div.logo img {
    width: 50%;
  }

  div.title p {
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    text-align: left;
  }

  .bolo {
    display: block;
  }

  p.boco,
.bolo {
  color: #777777;
  font-size: 1.5vw;
}
}
